<div class="large-container center-block">
    <h1><%= @article.title %></h1>
    <div>
        <p>Escrito por
            <strong>
                <% if @article.user.name == "Name" %>
                    <%= link_to @article.user.email, action: :from_author, id: @article.user %>
                <% else %>
                    <%= link_to @article.user.name, action: :from_author, id: @article.user %>
                <% end %> 
            </strong>
        </p>
        <% if @article.user.avatar.attached? %>
            <%= image_tag url_for(@article.user.avatar), height: 30 %>
        <% end %>
    </div>
    <div>
        <%= @article.content %>
    </div>
    <div class="margin-top">
        <p class="label">Tags</p>
        <% @article.categories.each do |element| %>
           <span class="badge badge-pill padding" style= "background-color: <%= element.color %>">
                <%= link_to element.title, element, class: "text-white"%>
           </span> 
        <% end %>
    </div>
    <% if user_signed_in? and current_user.id == @article.user.id %>
        <div>
            <strong>Controles del articulo: </strong>
            <%= link_to "Eliminar el articulo", @article, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "Editar el articulo", edit_article_path(@article) %>
        </div>
    <% end %>
</div>