<div class="small-container center-block">
    <p class="font-weight-bold text-uppercase margin-top">Editar usuario</p>
    <% if current_user.avatar.attached? %>
        <%= image_tag url_for(current_user.avatar), height: 200 %>  
    <% else %>
        <p class="font-weight-bold">Aún no has subido una foto de perfil):</p>
    <% end %>
    <%= form_with(model: current_user, local: true) do |form| %>
        <div class="field">
            <%= form.label :avatar %>
            <%= form.file_field :avatar %>
        </div>
        <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name %>
        </div>
        <div class="field">
            <%= form.label :age %>
            <%= form.number_field :age, min: 0, max: 99 %>
        </div>
        <div class="field">
            <%= form.label :job %>
            <%= form.text_field :job %>
        </div>
        <div class="field">
            <%= form.submit "Guardar", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>